
/* Main container styling */
#main-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  max-width: 1100px;
}

.accordion {
  margin-right: 16px;
}

/* Adjust the width of the accordion items */
.accordion-item {
  flex-grow: 1;
  flex-basis: 0;
}

/* Add flex-wrap to the accordion body to allow card wrapping */
.accordion-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow card wrapping */
}

/* Adjust the width of the accordion buttons */
.accordion-button {
  width: 100%;
  text-align: left; /* Optional: Align text to the left */
}

.accordion-button.collapsed {
  min-width: 400px;
}

/* Remove the max-width constraint for the accordion body */
.accordion-collapse.collapse {
  max-width: none;
}

/* Cards section styling with flex row */
#cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
}

.card {
  flex: 0 1 calc(33.33% - 10px);
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 120px;
  margin: 8px;
  max-height: 160px;
  background-image: url('thumbnail1.jpg');
  background-size: 50%; /* This will cover the entire card */
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  background-color: #e0e0e0;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card h3, .card p {
  margin-top: 5px;
}

/* Preview window styling */
#preview-window {
  flex: 0 1 40%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#reel-info {
  margin-bottom: 15px;
}

audio {
  width: 100%;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  #main-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px;
  }

  #cards-section, #preview-window {
    max-width: 100%;
  }

  .accordion {
    margin: 0px;
  }

  #preview-window {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Centered and adjusted width on mobile */
    margin-bottom: 24px;
  }

  .accordion-button.collapsed {
    min-width: 200px;
  }
}

