/* Bootstrap Overides */
#h5_override {
  font-size: 1rem;
}

#h6_override {
  font-size: .75rem;
}

/* Main container styling */
#main-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  max-width: 1100px;
}

.accordion {
  margin-right: 16px;
}

/* Adjust the width of the accordion items */
.accordion-item {
  flex-grow: 1;
  flex-basis: 0;
}

/* Add flex-wrap to the accordion body to allow card wrapping */
.accordion-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap; /* Allow card wrapping */
}

/* Adjust the width of the accordion buttons */
.accordion-button {
  width: 100%;
  text-align: left; /* Optional: Align text to the left */
}

.accordion-button.collapsed {
  min-width: 400px;
}

/* Remove the max-width constraint for the accordion body */
.accordion-collapse.collapse {
  max-width: none;
}

/* Cards section styling with flex row */
#cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
}

.card {
  flex: 0 1 calc(33.33% - 10px);
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 120px;
  margin: 8px;
  max-height: 160px;
  background-image: url('thumbnail1.jpg');
  background-size: 35%; /* This will cover the entire card */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}

#animation_card_override {
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/media/Animation.png?raw=true);
  background-color: #436782;
  color: white;
}

#vg_card_override {
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/media/Video%20Games.png?raw=true);
  background-color: #436782;
  color: white;
}

#tv_card_override {
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/media/TV.png?raw=true);
  background-color: #436782;
  color: white;
}

#books_card_override {
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/media/Audiobooks.png?raw=true);
  background-color: #436782;
  color: white;
}

.selected-animate {
  background-color: #f0f0f0 !important; /* Light grey background */
  border: 2px solid #436782; /* Solid black border */
  box-shadow: 0 0 10px #436782; /* Shadow for depth */
  color: #436782 !important;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/Animation%20Selected.png?raw=true)!important;
}

.selected-vg {
  background-color: #f0f0f0 !important; /* Light grey background */
  border: 2px solid #436782; /* Solid black border */
  box-shadow: 0 0 10px #436782; /* Shadow for depth */
  color: #436782 !important;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/Video%20Games%20Selected.png?raw=true)!important;
}

.selected-tv {
  background-color: #f0f0f0 !important; /* Light grey background */
  border: 2px solid #436782; /* Solid black border */
  box-shadow: 0 0 10px #436782; /* Shadow for depth */
  color: #436782 !important;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/TV%20Selected.png?raw=true)!important;
}

.selected.books {
  background-color: #f0f0f0 !important; /* Light grey background */
  border: 2px solid #436782; /* Solid black border */
  box-shadow: 0 0 10px #436782; /* Shadow for depth */
  color: #436782 !important;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/Audiobooks%20Selected.png?raw=true)!important;
}

#animation_card_override:hover {
  background-color: #e0e0e0;
  color: #436782;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/Animation%20Selected.png?raw=true);
}

#vg_card_override:hover {
  background-color: #e0e0e0;
  color: #436782;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/Video%20Games%20Selected.png?raw=true);
}

#tv_card_override:hover {
  background-color: #e0e0e0;
  color: #436782;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/TV%20Selected.png?raw=true);
}

#books_card_override:hover {
  background-color: #e0e0e0;
  color: #436782;
  background-image: url(https://github.com/jacobbroadhead/my_portfolio/blob/main/Audiobooks%20Selected.png?raw=true);
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card h3, .card p {
  margin-top: 5px;
}

/* Preview window styling */
#preview-window {
  position: sticky;
  top: 20px;
  flex: 0 1 40%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#reel-info {
  margin-bottom: 15px;
}

audio {
  width: 100%;
}

/* Audio Player */
#custom-audio-player {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#play-pause-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#play-pause-button:hover {
  background-color: #45a049;
}

#progress-container {
  flex-grow: 1;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

#progress {
  background-color: #4CAF50;
  height: 100%;
  border-radius: 5px;
  width: 100px;
}

#time-display {
  font-size: 12px;
  color: #333;
  min-width: 60px;
  text-align: center;
}

#volume-control {
  width: 75px;
  cursor: pointer;
}


/* Responsive design adjustments */
@media (max-width: 768px) {
  #main-container {
    flex-direction: column;
    align-items: center;
  }

  #cards-section, #preview-window {
    width: 100%;
  }

  .accordion-button.collapsed {
    min-width: 200px; /* Adjust the minimum width for mobile */
  }

  .card {
    width: 100px; /* Cards take full width on smaller screens */
    max-width: none; /* Remove max-width constraint */
  }

  #h5_override {
    font-size: .8rem !important;
  }

  #preview-window {
    position: sticky;
    top: 0px; /* Stick to the top of the viewport */
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Centered and adjusted width on mobile */
    margin-bottom: 24px;
    z-index: 100; /* Ensure it stays on top of other content */
    background-color: #ffffff; /* Optional: to ensure text readability */
    width: 100%; /* Full width of the viewport */
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd; /* Optional: for styling */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: for styling */
  }

  #custom-audio-player {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align the elements */
  }

  #control_bar {
    width: 100%; /* Full width for control bar */
    justify-content: center; /* Center elements in the control bar */
  }

  #progress-container, #volume-control {
    display: none; /* Hide elements not needed on mobile */
  }

  #time-display {
    order: 3; /* Move time display below controls */
    margin-top: 10px; /* Add some spacing */
    width: 100%; /* Full width */
    text-align: center; /* Center align text */
  }
}
  
